<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DealDioPartner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>26AF8CB6EF82378C3C72082AA99900C7555DBC2E</string>
				<key>dateExpires</key>
				<string>15/10/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>26AF8CB6EF82378C3C72082AA99900C7555DBC2E</string>
						<key>dateExpires</key>
						<string>15/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3NM3M7MHXF</string>
						<key>name</key>
						<string>DEALDIO LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>26AF8CB6EF82378C3C72082AA99900C7555DBC2E</string>
						<key>dateExpires</key>
						<string>15/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>BarcodeScanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3NM3M7MHXF</string>
						<key>name</key>
						<string>DEALDIO LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>26AF8CB6EF82378C3C72082AA99900C7555DBC2E</string>
						<key>dateExpires</key>
						<string>15/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3NM3M7MHXF</string>
						<key>name</key>
						<string>DEALDIO LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>26AF8CB6EF82378C3C72082AA99900C7555DBC2E</string>
						<key>dateExpires</key>
						<string>15/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Gloss.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3NM3M7MHXF</string>
						<key>name</key>
						<string>DEALDIO LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>26AF8CB6EF82378C3C72082AA99900C7555DBC2E</string>
						<key>dateExpires</key>
						<string>15/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3NM3M7MHXF</string>
						<key>name</key>
						<string>DEALDIO LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>26AF8CB6EF82378C3C72082AA99900C7555DBC2E</string>
						<key>dateExpires</key>
						<string>15/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3NM3M7MHXF</string>
						<key>name</key>
						<string>DEALDIO LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>26AF8CB6EF82378C3C72082AA99900C7555DBC2E</string>
						<key>dateExpires</key>
						<string>15/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ImageSlideshow.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3NM3M7MHXF</string>
						<key>name</key>
						<string>DEALDIO LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>26AF8CB6EF82378C3C72082AA99900C7555DBC2E</string>
						<key>dateExpires</key>
						<string>15/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3NM3M7MHXF</string>
						<key>name</key>
						<string>DEALDIO LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>26AF8CB6EF82378C3C72082AA99900C7555DBC2E</string>
						<key>dateExpires</key>
						<string>15/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PubNub.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3NM3M7MHXF</string>
						<key>name</key>
						<string>DEALDIO LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>26AF8CB6EF82378C3C72082AA99900C7555DBC2E</string>
						<key>dateExpires</key>
						<string>15/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3NM3M7MHXF</string>
						<key>name</key>
						<string>DEALDIO LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>26AF8CB6EF82378C3C72082AA99900C7555DBC2E</string>
						<key>dateExpires</key>
						<string>15/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SSKeychain.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3NM3M7MHXF</string>
						<key>name</key>
						<string>DEALDIO LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>26AF8CB6EF82378C3C72082AA99900C7555DBC2E</string>
						<key>dateExpires</key>
						<string>15/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SideMenu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3NM3M7MHXF</string>
						<key>name</key>
						<string>DEALDIO LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>26AF8CB6EF82378C3C72082AA99900C7555DBC2E</string>
						<key>dateExpires</key>
						<string>15/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>UICollectionViewLeftAlignedLayout.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3NM3M7MHXF</string>
						<key>name</key>
						<string>DEALDIO LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>26AF8CB6EF82378C3C72082AA99900C7555DBC2E</string>
						<key>dateExpires</key>
						<string>15/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>YouTubePlayer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3NM3M7MHXF</string>
						<key>name</key>
						<string>DEALDIO LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>26AF8CB6EF82378C3C72082AA99900C7555DBC2E</string>
						<key>dateExpires</key>
						<string>15/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3NM3M7MHXF</string>
						<key>name</key>
						<string>DEALDIO LTD</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3NM3M7MHXF.com.dealdioscanner.iosapp</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>3NM3M7MHXF</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>DealDioPartner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b694edf9-fa1d-4cba-8eab-fd51a17bfe92</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.dealdioscanner.iosapp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3NM3M7MHXF</string>
				<key>name</key>
				<string>DEALDIO LTD</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
